* {
  font-family: 'Roboto', sans-serif !important;
}

body {
  background-color: #06c;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.2) 2px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .1) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  color: white;
}

/*.title {
  width: 100vw;
}

.title h1 {
  font-size: 13vw;
}*/

.drop-cap {
  float: left;
  /*font-family: Georgia;*/
  font-size: 45px;
  line-height: 44px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

p {
  font-size: 18px;
}

.polarsublayer.plotbg {
  fill: rgba(0, 0, 0, 0) !important;
}

.airport,
.wind-rose {
  display: block;
  height: 35vh;
  /*width: auto;*/
  max-width: 100%;
}

.wind-rose {
  opacity: .7;
}

.background-white {
  background-color: #FFFFFF82;
}

.runway {
  border-top: white 3px solid;
  position: relative;
  margin-top: 130px;
  height: 100px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.runway .marker {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  top: 0;
  /* opacity: 0; */
}

.runway .marker>span {
  position: absolute;
  top: 4px;
}

.runway .container {
  position: relative;
  margin-top: 130px;
  padding-bottom: 50px;
}

.marker::before {
  content: '';
  width: 3px;
  height: 7px;
  background-color: white;
  position: absolute;
  display: block;
  left: 5px;
}

.marker:nth-of-type(1) {
  left: 10%;
  animation: fadein 1s;
  animation-fill-mode: forwards;
}

.marker:nth-of-type(2) {
  left: 15%;
}

.marker:nth-of-type(3) {
  left: 30%;
}

.marker:nth-of-type(4) {
  left: 35%;
}

.marker:nth-of-type(5) {
  left: 55%;
}

.marker:nth-of-type(6) {
  left: 65%;
}

.marker:nth-of-type(7) {
  left: 80%;
}

@keyframes fadein {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.airbus {
  position: absolute;
  width: 90px;
  height: auto;
  top: -32px;
  animation: takeoff 5s linear infinite;
  /*animation-fill-mode: forwards;*/
}

@keyframes takeoff {
  0% {
    left: 0;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  75% {
    left: calc(80% - 45px);
    top: -32px;
    transform: rotate(0deg);
  }

  80% {
    left: 80%;
    top: -40px;
  }

  100% {
    left: 100%;
    top: -60px;
    transform: rotate(-10deg);
  }

  

}